.text-red{
	color: red;
}

.black{
	background-color: #262626;
	color: gray;
	padding: 4%;
	margin-bottom: 2%;
	padding: 2%;
}
li{
	text-decoration: none;
	display: inline-block;
	margin-left: 30px;
}
.imagen{
	margin-top: 10px;
}
.btn{
	padding: 3%;
	border-radius: 10%;
	margin-left: 30%;
	margin-top: 10%;
	opacity: 0.9;
	background-color: #737373;
}
.list{

	display: inline-block;
	margin-left: 10px;
	margin-top: 2%;
	margin-bottom: 2%;

}
.nav{
	text-decoration: none;
	color: white;
}
a{
	text-decoration: none;

}
.align{
	margin-left: 50px;
	margin-top: 5%;
}

.btn1{
	padding: 1%;
	border-radius: 15%;
	margin-left: 42%;
	margin-top: 10%;
	background-color: #4d4d4d;
	color: white;
	margin-bottom: 4%;
}
.webs{


	
}
.btnred{
	padding: 1%;
	border-radius: 10%;
	margin-left: 45%;
	background-color: red;
}
.top{
	margin-bottom: 5%;
}
.email{
	color: red;
	font-style: italic;
}
.fondo{
	background-color: white;
}
.top1{
	margin-bottom: 4%;
	margin-top: 4%;
}
.heart{
	display: inline-block;
	color: gray;
	margin-left: 3%;
}
.circle{
	border-radius: 100%;
	border: 2px dashed gray;
	padding: 3%;
}